.background3 {
	background-color: #25a085;
	font-family: Roboto;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container3 {
	background-color: white;
	height: 65vh;
	width: 40vw;
	margin: 10rem auto;
	border-radius: 5px;
	display: grid;
	grid-template-rows: repeat(3, fit-content(50%)) 32rem;
	grid-template-columns: 6rem 1fr 6rem;

	overflow: hidden;
	box-shadow: -1px 3px 24px -2px rgba(80, 80, 80, 1);
}

.container-notification {
	grid-row: 2 / span 1;
	/* grid-column: 2 / span 1; */
	grid-column: 2 / span 1;
	color: #c0c0c0;
	font-weight: 700;
	font-size: 1.5rem;
	/* margin-left: 60px; */
}
.container-heading3 {
	float: left;
	/* margin-left: 60px; */
	grid-row: 1 / span 1;
	/* grid-column: 2 / span 1; */
	grid-column: 2 / span 1;

	margin-top: 4rem;
	align-self: end;
	margin-bottom: 0;
	letter-spacing: -1px;
	font-weight: 700;
}
.container-orders {
	grid-row: 3 / span 1;
	/* grid-column: 2 / span 1; */
	grid-column: 2 / span 1;

	list-style: none;
	color: #686868;
	font-weight: 700;
	font-size: 1.5rem;
	padding: 0;
	/* margin-left: 8px; */
}
.container-orders--item {
	display: flex;
	justify-content: space-between;
	height: 64px;
	/* margin-left: 15px; */
}
.container-orders--item_price {
	/* margin-right: 77px; */
	color: black;
	font-size: 2rem;
}
.container-orders--total {
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
	/* margin-left: 15px; */
}
.container-orders--total_price {
	/* margin-right: 77px; */
	color: black;
	font-size: 2rem;
}
/* .container-item1 {
	grid-row: 3 / span 1;
	grid-column: 1 / span 1;
}
.container-item2 {
	grid-row: 4 / span 1;
	grid-column: 1 / span 1;
}
.container-total {
	grid-row: 5 / span 1;
	grid-column: 1 / span 1;
} */

.container-img {
	height: 500px;
	grid-row: 3 / span 2;
	grid-column: 1 / -1;

	align-self: end;
	justify-self: stretch;
}
.container-profile {
	grid-row: 1 / span 1;
	/* grid-column: 2 / span 1; */
	grid-column: 2 / span 1;

	align-self: end;
	justify-self: end;
	border-radius: 100px;
	border: 1.5px solid #d8d8d8;
	height: 3rem;
	width: 3rem;
	display: grid;
	justify-items: center;
	align-items: center;
	/* margin-right: 5rem; */
}

.container-profile--img {
	height: 2rem;
}
